{% extends 'base.html' %}

{% block content %}
  <div class="flex justify-center ">
    {% for product in productos %}
      <div class="h-80 w-64 bg-gray-50 m-4 content-end px-2 py-4 rounded-md">
        <p class="mb-2 hover:underline hover:text-sky-400">{{ product.name }}</p>
        <a class=" py-2 bg-blue-200 hover:bg-blue-500 hover:text-white rounded-md transition" 
            href="{% url 'add_to_cart' product.id %}">
            <button class="w-full">
               Añadir a tu carrito 
            </button>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
