<nav class="flex justify-evenly bg-gray-100 py-4 text-blue-600 ">
  <a class="hover:underline" href="{% url 'index' %}">Inicio</a>

  {% if user.is_authenticated %}
    <a class="hover:underline" href="{% url 'profile' %}">Perfil</a>
    <a class="hover:underline" href="{% url 'logout' %}" > Cerrar sesión </a>
  {% endif %}
  
  {% if not user.is_authenticated %}
    <a class="hover:underline" href="{% url 'login' %}">Iniciar sesion</a>
    <a class="hover:underline" href="{% url 'register' %}">Registrarte</a>
  {% endif %}

  <a class="hover:underline" href="{% url 'view_cart' %}">Carrito</a>
</nav>
