{% extends 'base.html' %}

{% block content %}
<div class="">
    <h1 class="text-5xl font-bold">Carrito de Compras</h1>
    <div class="divide-y">
        {% for product in products %}
           <div class="my-4 py-2 divide-x">
               <h2 class="font-bold text-2xl">
                   {{ product.name }}
               </h2>
               ${{ product.price }}
               <button>+</button>
               {{ product.amount}}
               <button>-</button>
            </div> 
        {% empty %}
            No hay productos en tu carrito
        {% endfor %}
    </div>
    
    {% if products %}
    <strong>Total : ${{ total_price }}</strong>
    <div>
        <a href="{% url 'buy_cart' %}">
            <button class="rounded-md bg-green-500 p-2 text-white font-semibold hover:bg-green-700 transition">
                Finalizar compra
            </button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}